{% extends "base.html" %}
	
	

{% block content %}

	<nav class="navbar navbar-expand-sm fixed-top navbar-dark scrolling-navbar">
		<a class="navbar-brand" href="#">AJAS</a>
		
	</nav>
	

	<div id="particles-js"></div>
	
	
<header >
<!-- ParticlesJS Start 
		<div id="particles-js"></div>
		<!-- ParticlesJS End -->
	<!-- Banner-->
	
	<section  class="parallax banner">
			<div class="text">
				<h3>
					X-Ray Classification
				</h3>
				<h1>
					<div class="typewrite" data-period="2000" data-type='[ "Normal.", "Tuberculosis."]'>
					<span class="wrap"></span>
				</h1>
				<h3 class="b-content">
					Chest X-Ray image classification using <br>
					Deep Neural Network.
				</h3>
				<div class="b-button">
					<button type="button" class="btn btn-outline-light btn-lg btn-hover"> DEMO </button>	
					<button type="button" class="btn btn-outline-light btn-lg btn-bg"><a href="/classify.html"><i class="fas fa-sitemap"></i> CLASSIFY <i class="fas fa-sitemap"></i></a></button>
			</div>
			
			</div>
		
	</section>

</header>
<!-- Counter Start -->
    <section id="counter-area" class="counter-area-five">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-4">
              <div class="single-counter">
                <h1 class="counter">50</h1>
                +<br>
                <span class="counter-text counter-text-one">Models Trained</span>
              </div>
            </div>
            <div class="col-xl-4 col-md-4">
              <div class="single-counter">
                <h1 class="counter">1000</h1>
                +<br>
                <span class="counter-text counter-text-two">Epochs Executed</span>
              </div>
            </div>
            <div class="col-xl-4 col-md-4">
              <div class="single-counter">
                <h1 class="counter">7000</h1>
                +<br>
                <span class="counter-text counter-text-three">X-Rays Images</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Counter End -->

<!-- Info -->

<div class="jumbotron jumbotron-fluid bg-dark">

  <div class="jumbotron-background parallax blur">
    <!-- <img src="images/banner.jpg" class="blur "> -->


  <div class="container text-white">

   <h1 class="display-4 glow" style="color:#867ae9"><b>Hello, world!</b></h1>
				<p class="lead">In this century where everything is at our fingertips, why wait in a long queue to get your X-rays scanned by a radiologist? Especially to find out if you or
					your loved ones are affected by a serious disease like Tuberculosis? Not anymore, we’ve developed a system that brings radiologists to your fingertips!</p>
				<hr class="my-4">
    
   

  </div>
</div>

</div>


	
	<div id="container" class="container spcl-bg">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="card" data-aos="flip-left" data-aos-duration="1500">
					<div class="face front-face"> <img src="/static/images/aditya.jpg" alt="" class="profile">
						<div class="pt-3 text-uppercase name"> Aditya Nair </div>
						<div class="designation">Full Stack Developer</div>
					</div>
					<div class="face back-face">
						<a href="https://github.com/Adi098"><i class="fab fa-github fa-3x"></i></a>
						<a href="https://www.linkedin.com/in/aditya-nair-8259a6148/"><i class="fab fa-linkedin fa-3x"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="card" data-aos="flip-up" data-aos-duration="1500">
					<div class="face front-face"> <img src="/static/images/jith.jpg" alt="jith image" class="profile">
						<div class="pt-3 text-uppercase name"> Jith James Fernandez </div>
						<div class="designation">Creator</div>
					</div>
					<div class="face back-face">
						<a href="https://github.com/jith4j"><i class="fab fa-github fa-3x"></i></a>
						<a href="https://www.linkedin.com/in/jith4j"><i class="fab fa-linkedin fa-3x"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="card" data-aos="flip-up" data-aos-duration="1500">
					<div class="face front-face"> <img src="/static/images/akshay.jpg" alt="" class="profile">
						<div class="pt-3 text-uppercase name"> Akshay Mohan </div>
						<div class="designation">Co-Creator</div>
					</div>
					<div class="face back-face">
						<a href="https://github.com/KichuMohan"><i class="fab fa-github fa-3x"></i></a>
						<a href="https://www.linkedin.com/in/akshay-mohan-9a97a3148/"><i class="fab fa-linkedin fa-3x"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="card" data-aos="flip-right" data-aos-duration="1500">
					<div class="face front-face"> <img src="/static/images/sabin.jpg" alt="" class="profile">
						<div class="pt-3 text-uppercase name"> Sabin Biju </div>
						<div class="designation">Co-Creator</div>
					</div>
					<div class="face back-face">
						<a href="https://github.com/sbxin"><i class="fab fa-github fa-3x"></i></a>
						<a href="https://www.linkedin.com/in/sabin-biju-1526b7160/"><i class="fab fa-linkedin fa-3x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Three -->
	<section id="three" class="wrapper special parallax work">
		<div class="inner">
			<header class="align-center" data-aos="zoom-out">
				<h2 class="color1" style="color:#867ae9;font-size:5rem"><u>Work Place</u></h2>

			</header>
			<div class="flex flex-2">

				<article class="color2" data-aos="fade-up-right">

					<img src="/static/images/logo_dark_new.png" alt="Pic 02" />

					</br></br>

					<b class="glow" style="color:rgba(19, 15, 34, 0.8)">Address</b></br>
					<p style="color:#caf7e3">Department of Computer Science and Engineering
						<a href="https://www.marian.ac.in/"><b style="color:#faf1e6">Marian Engineering College</b></a> <br>
						Kazhakuttom, Thiruvananthapuram - 695582 <br> mail@marian.ac.in</br>
					</p>
				</article>
					<hr data-aos="fade-up">
				<article class="color2" data-aos="fade-up-left">
					<img src="/static/images/sreena.jpg" width="100" height="135" alt="Pic 02" />
					</br></br>

					<b class="glow" style="color:rgba(19, 15, 34, 0.8)">Acknowledgment</b></br>
					<p style="color:#caf7e3">A special thank to <a href=""><b style="color:#faf1e6">Prof. Sreena V.G.</b></a> </br> for her assistance and inputs regarding this project.</br>
				</article>


			</div>

		</div>
	</section>
	
	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="flex">
				<div class="copyright">

					AJAS &copy; <span id="year"></span>
				</div>
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	
	<script>
		// counterup call
		$('.counter').counterUp({
			delay: 10,
			time: 1000
		});
	</script>

	<!-- Navbar scroll -->
	<script>
		$(window).on("scroll", function() {
			if ($(window).scrollTop()) {
				$('nav').addClass('black');
			} else {
				$('nav').removeClass('black');
			}
		})
	</script>

	<!-- Year -->
	<script>
		document.getElementById("year").innerHTML = new Date().getFullYear();
	</script>

	

	<!-- Initialize AOS -->

	<script>
  	AOS.init();
	</script>

{% endblock %}
	
